@import '../../../../assets/css/theme/app-theme.scss';

.background {
  // background-image: url('assets/images/Intersection 5.png'), url('assets/images/Intersection 6.png');
  // background-position: right, left;
  // background-repeat: repeat-y;
  // background-origin: content-box;
}

// These two back ground classes is something is used to test, but i believe it will be better if a single image is made to repeat on y-axis
// .background1 {
//   z-index: 0;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 900px;
//   background-image: url("assets/images/Intersection 5.png");
//   background-repeat: no-repeat;
//   background-position: top right;
//   margin-top: 200px;
// }

// .background2 {
//   z-index: 0;
//   position: absolute;
//   top: 1101px;
//   width: 100%;
//   height: 900px;
//   background-image: url("assets/images/Intersection 6.png");
//   background-repeat: no-repeat;
//   background-position: top left;
//   margin-top: 200px;
// }

.loader-container {
  width: 100%;
  height: 350px;
}

.all-complete-checkbox {
  margin: 24px 0px;
}

.back-button {
  position: absolute;
  left: 50px;
  top: 115px;
}

.checkbox {
  font-size: 18px;
  line-height: 24px;
}

.container {
  max-width: 1000px;
  margin: 80px auto;
}

.paper-header {
  width: 100%;

  h1 {
    text-align: left;
    font-size: 30px;
    letter-spacing: 0;
    color: #421e6c;
    opacity: 1;
    margin-bottom: 0px;
  }

  mat-slide-toggle {
    margin: 5px 0;
  }

  mat-select {
    margin-top: 10px;
  }

  .download-button {
    margin-top: 20px;
    padding: 0 80px;
  }
}

.question-header {
  margin-left: 16px;
  margin-right: 16px;
  text-align: left;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.23px;
  color: #404041;
  opacity: 1;
}

.play-button {
  width: 45px;
  height: 45px;

  mat-icon {
    transform: scale(1.75);
  }
}

.parent-question {
  width: 80%;
  min-height: 100px;
  box-shadow: none !important;
  background-color: #fafafa;

  mat-card-content {
    margin-left: 16px;

    .parent-question-description {
      text-align: left;
      font-size: 20px;
      letter-spacing: 0;
      color: #404041;
      opacity: 1;
      max-width: 80%;
      padding-top: 5px;

      .image-container {
        margin-right: 10px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  mat-card-title {
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    color: #421e6c;
    opacity: 1;
  }

  mat-card-subtitle {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    color: #404041;
    opacity: 1;
    margin-bottom: 0;
  }
}

.sub-question {
  width: 80%;
  min-height: 160px;
  // margin-bottom: 30px;

  mat-card-content {
    margin-left: 16px;

    .sub-question-description {
      text-align: left;
      font-size: 18px;
      letter-spacing: 0;
      color: #bcbcbc;
      opacity: 1;
      // margin-left: 24px;
      max-width: 80%;
      // padding-top: 5px;
    }
  }

  mat-card-title {
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    color: #421e6c;
    opacity: 1;
  }

  mat-card-subtitle {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    color: #404041;
    opacity: 1;
    margin-left: 24px;
    margin-bottom: 0;
  }
}

.memo-link {
  color: #404041;
  color: #e31565;
  font-weight: 400;
  text-decoration: underline;
}

.label-paragraph {
  margin: 4px 10px 10px 0px;
  min-width: 100px;
}

.search-result-count {
  color:  grey;
  margin-top: 60px;
  margin-bottom: 20px;
}

.full-width-container {
  min-width: 100% !important;
}

.question-image {
  max-width: 80%;
  margin: 12px 0px;
}
