
<button mat-button class="back-button" (click)="back()">
  <mat-icon>chevron_left</mat-icon> Back
</button>

<div class="view-wrapper" fxLayout="column" fxLayoutAlign="start">
  <mat-spinner color="accent" diameter="24" style="margin: 0 auto;" *ngIf="!showContent"></mat-spinner>
  <div *ngIf="showContent" fxLayout="column">
    <div class="video-layout">
      <div class="video-layout_main">
        <div class="video-container">
          <div class="video-source-container">    
              <app-video-viewer class="video" [videoUrl]="jingleUrl.url || videoUrl.url" (videoEnd)="videoEnd($event)"
                [autoplay]="true" (videoController)="getVideoElement($event)"></app-video-viewer>
          </div>
        </div>
        <div class="main-content">
          <div class="video-main-content">
            <div fxFlex fxLayout fxLayoutAlign="space-between" style="max-height: 46px;">
              <mat-checkbox class="completed-checkbox" (change)="setStatus($event.checked)" [checked]="completed">
                Mark Lesson As Complete</mat-checkbox>
              <!-- <button mat-raised-button class="download-button" color="primary" (click)="downloadPdf()"
                [disabled]="!canDownloadPdf">
                Download PDF
              </button> -->

              <app-loader-button  [color]="'white'" [label]="'Download PDF'" [defaultSize]="true" (clicked)="downloadPdf()">
              </app-loader-button>
            </div>

            <h2 class="question-heading">{{ lesson.name }}</h2>

            <div class="pdf-container">
              <div class="loader-container" fxLayout="column" fxLayoutAlign="center center"
                *ngIf="hasPdf && loadingPdf">
                <mat-spinner color="accent" diameter="24" style="margin: 0 auto;"></mat-spinner>
              </div>
              <pdf-viewer (after-load-complete)="loadingPdf = false" (error)="failedToLoadPdf = true" *ngIf="hasPdf"
                [show-all]="true" [fit-to-page]="true" [src]="pdfUrl"></pdf-viewer>

              <h2 *ngIf="!hasPdf" style="text-align: center; margin-top: 16px;">There is no PDF available for this
                lesson</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="video-layout_sidebar">
        <div class="video-sidebar-content">
          <div class="bookmarks-box">
            <h2>Bookmarks</h2>
            <div *ngFor="let bookmark of lesson.video.videoBookmarks">
              <a href="javascript: void(0);" (click)="seek(bookmark.time)" class="bookmark" [class.disabled]="!hasPlayedJingle"
                [ngClass]="theme">{{
            bookmark.videoBookmarkName
          }}</a>
              <span>{{ bookmark.time }}</span> <br />
            </div>
          </div>
          <!-- <app-pre-requisites [preRequisites]="question.preRequisites" [theme]="theme"></app-pre-requisites> -->
        </div>
      </div>
    </div>
  </div>
</div>