mat-card {
    width: 340px;
}

.not-sd {
    height: 70px;
    color: #adadad;
    padding: 10px 16px;
    > div {
        align-self: center;
    }
}

.loader {
    margin: 11px auto;
}

.sd {
    height: 70px;
    color: #57bc72;
    border: 1px solid #57bc72;
    padding: 10px 16px;
    > div {
        margin-top: 4px;
        align-self: center;
    }
    .sd-description {
        font-size: 13px;
    }
}

.error-msg {
    color: red;
    font-size: 13px;
    text-align: center;
    line-height: 17px;
}