<div fxFlex fxLayout="column" fxLayoutGap="24px">
    <div class="header-container" fxFlex fxLayout fxLayoutAlign="space-between">
        <div class="header-section">
            <h2 class="header-title">Resources</h2>

        </div>
    </div>

    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-card fxLayout="column" fxLayoutGap="20px">
            <app-input-styled [isUpperCase]="true" class="full-width" [title]="'Enter 4 digit code'" [formControl]="code"
                [placeholder]="'Enter 4 digit code'" [disabled]="$disabled | async">
            </app-input-styled>
            <app-loader-button class="full-width" [color]="'aqua'" [label]="'Watch'" [defaultSize]="false"
                (clicked)="openVideoDialog()" [$disabled]="$disabled" [$loading]="$loading">
            </app-loader-button>
            <!-- <div style="margin: 20px 0px;">
                <p style="font-size: 15px; margin-bottom: 5px;">Or scan QR code</p>
                <app-loader-button class="full-width" [color]="'orange'" [label]="'Scan QR code'" [defaultSize]="false"
                    (clicked)="scan()" [$disabled]="$hasCard" [$loading]="$loading">
                </app-loader-button>
            </div> -->
            <div class="error-msg" *ngIf="errorMessage">{{errorMessage}}</div>
        </mat-card>

        <mat-card *ngIf="sdCardStatus.isLoading" class="not-sd" fxLayout fxLayoutGap="12px">
            <mat-spinner class="loader" color="primary" diameter="24"></mat-spinner>
        </mat-card>

        <mat-card *ngIf="!sdCardStatus.hasSDCard && !sdCardStatus.isLoading" class="not-sd" fxLayout fxLayoutGap="12px">
            <img height="50px" src="assets/images/MicroSD-card-not-detected.png" />
            <div>MicroSD card not detected</div>
        </mat-card>

        <mat-card *ngIf="sdCardStatus.hasSDCard && !sdCardStatus.isLoading" class="sd" fxLayout fxLayoutGap="12px">
            <img height="50px" src="assets/images/MicroSD-card-detected.png" />
            <div>MicroSD card detected</div>
        </mat-card>
    </div>

</div>