.mat-toolbar-row,
.mat-toolbar-single-row {
    background-color: white;
}

.search {
    margin-bottom: 12px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

        .main-header {
            display: flex;
            justify-content: space-between;

            .user {
                cursor: pointer;
                display: flex;
                align-items: center;
                margin-right: 25px;

                &-pic {
                    height: 24px;
                    width: 24px;
                    margin-right: 5px;
                    overflow: hidden;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                &-name {
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 900;
                }
            }
        }

        .main-filter {
            display: flex;
            align-items: center;
            padding: 10px;

            mat-label {
                font-size: 12px;
                margin: 0 10px;
            }

            .filter {
                display: flex;

                &:not(:last-child) {
                    margin-right: 20px;
                }

                mat-label {
                    margin: 0 10px;
                    font-size: 12px;
                }
            }
        }

    .content {
        background-color: #fafafa;
        width: 100%;
        height: calc(100% - 125px);
        // max-height: 320px;
        overflow-y: auto;

        &-wrapper {
            width: 100%;
            height: 100%;
        }

        &-header {
            min-height: 115px;
            display: flex;
            flex-direction: column-reverse;
            padding: 5px 30px;

            .header {
                &-subtitle {
                    &.pink {
                        color: #e31565;
                    }
                }
            }

            .search-tags {
                display: flex;

                .search-tag {
                    min-width: 122px;
                    height: 22px;
                    padding: 0 10px;
                    border: 1px solid #dcdcdc;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:not(:last-child) {
                        margin-right: 10px;
                    }

                    .mat-icon {
                        width: 14px;
                        height: 14px;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
            }

            .header-actions {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

// tab-links styling:

.tab-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 142px;

    .tab-link {
        cursor: pointer;
        border-bottom: 2px solid transparent;
        font-size: 12px;
        color: #989898;

        &:hover {
            border-color: #421f6c;
        }

        &.active {
            border-color: #421f6c;
            color: #421f6c;
        }
    }
}
