<mat-card fxLayout="column" fxLayoutAlign="space-between center">

    <mat-spinner *ngIf="isLoading" color="accent" diameter="24" style="margin: 0 auto; margin-top: 36% !important;"></mat-spinner>

    <ng-container *ngIf="!isLoading">
        <!-- @Todo this icon should change to subject.imageUrl -->
        <!-- <mat-icon>image</mat-icon> -->

        <h1> {{progress.value}} </h1>

        <div class="progress-title">
            {{progress.title}}
        </div>

    </ng-container>
</mat-card>
