@import './../../../../assets/css/theme/app-theme.scss';

.pre-requisite-lessons {
  // background-color: #f5f4f4;
  width: auto;
  min-height: 170px;
  border-radius: 4px;

  a {
    color: #404041;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
  }

  h2 {
    text-align: left;
    letter-spacing: 0;
    color: #404041;
    margin-bottom: 0;
    margin-top: 12px;
    padding: 16px;
    padding-left: 0px;
  }
}
