
<div class="loader-container" style="min-height: 250px;" fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoading">
    <mat-spinner fxLayout="column" fxLayoutAlign="space-evenly center" color="accent" diameter="24"
        style="margin: 0 auto;"></mat-spinner>
</div>

<ng-container *ngIf="showContent">
    <div fxFlexFill fxLayout="row" fxLayoutAlign="center start"  fxLayoutGap="30px" class="dropdown-wrapper">
      <!-- <app-custom-dropdown
       
        [icon]="'home'"
        [key]="'name'"
        style="min-height: 50px; width: 284px;"
        [over]="true"
        [class.limit-custom-dropdown-height]="!gradeOpen"
        (stateChanged)="gradeOpen = !gradeOpen"
        
        [color]="'orange'"
        [placeholder]="'Grade'"
      >
      </app-custom-dropdown> -->

      <!-- <app-custom-dropdown
        [items]="times"
        [icon]="'access_time'"
        [key]="'name'"
        style="min-height: 50px; width: 284px;"
        [over]="true"
        [class.limit-custom-dropdown-height]="!timeOpen"
        (stateChanged)="timeOpen = !timeOpen"
        (selected)="selectedTime($event)"
        [color]="'accent'"
        [placeholder]="'Time Period'"
      >
      </app-custom-dropdown> -->

      <!-- <app-custom-dropdown
        [items]="subjects"
        [icon]="'edit'"
        [key]="'name'"
        style="min-height: 50px; width: 284px;"
        [over]="true"
        [class.limit-custom-dropdown-height]="!subjectOpen"
        (stateChanged)="subjectOpen = !subjectOpen"
        (selected)="selectedSubject($event)"
        [color]="'green'"
        [placeholder]="'Subject'"
      >
      </app-custom-dropdown> -->
    </div>

    <div fxFlexFill fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="30px">
      <!-- <app-progress-card *ngFor="let stat of stats" [progress]="stat" [state]="$statsLoading">
      </app-progress-card> -->
    </div>
  </ng-container>
