<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px"
    style="width: 380px; padding: 30px;">
    <a style="cursor: pointer;" [routerLink]="['']">
        <img class="small-brand brand-header" src="assets/images/Vector Smart Object.png"/>
    </a>

        <app-input-styled class="full-width" [title]="'Email or Phone Number'" [formControl]="form.get('loginCred')" 
        [required]="true" [placeholder]="'Email or Phone Number'">
        </app-input-styled>

        <app-input-styled class="full-width" [type]="'password'" [resetEnabled]="true" [formControl]="form.get('password')"
            [title]="'Password'" [placeholder]="'Password'">
        </app-input-styled>

        <app-loader-button class="full-width" [label]="'Login'" [defaultSize]="false" (clicked)="authenticate()">
        </app-loader-button>

        <div class="register-hint">Don't have an account? <a class="primary-link link"
            (click)="openWebRegister()"> Sign Up</a></div>
    </mat-card>
</div>