@import "../../../assets/css/theme/app-theme.scss";

.dark-font {
  color: mat-color($custom, paynes-grey1) !important;
}

.static-toolbar {
  // max-width: 1440px;
  margin-left: 100px !important;
  margin-right: 100px !important;
  margin: 0 auto;
  height: 70px;
  z-index: 9;
  mat-button {
    mat-icon {
      margin-left: 10px;
    }
  }
}

.static-spacer {
  flex: 1 1 auto;
}

.static-company-container {
  // margin-left: -8px;
  z-index: 3;
  .brand {
    height: 32px;
  }
}

.static-button-container {
  margin-right: -14px;
  z-index: 2;
}

.b-yellow-sea2 {
  background-color: mat-color($custom, yellow-sea2) !important;
  color: white;
  height: 40px;
  width: 100px;
  margin-left: 8px;
}

.static-menu-button {
  color: white;
  * {
    color: white;
  }
}



.corner-ribbon{
  width: 200px;
  background: #39d;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 45px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 3;
}

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

