<div fxFlex fxLayout="column" *ngIf="!isMobile" class="landing-page-container">
  <div class="section-1" fxLayout="row" fxLayoutAlign="end start" style="margin-bottom: -65px;">
    <div fxLayout="column" style="margin-top: 162px; position: absolute; left: 120px; z-index: 2;">
      <h1 class="m-0 dark-font" style="width: 420px; font-size: 45px; line-height: 1.05;">
        Study for exams with video tutorials. Any time. Any place.
      </h1>
      <div class="dark-font section-1-body">
        Get past exam papers with step-by-step video lessons for every question and concept.
      </div>
      <!-- <img height="191px" width="173px" class="brand ?link" src="../../../../assets/images/Button.png" /> -->
    </div>

    <div fxFlex fxLayout="column">
      <!-- <img style="margin-left: auto; margin-top: 2px; margin-right: 100px; z-index: 1;" width="850"
                    src="../../../../assets/images/Group 797.png" /> -->
    </div>
  </div>
</div>
