.header {
  height: 105px;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding-left: 30px;
}

.main-content {
  // width: 60%;
  // margin-top: 60px;
  height: 750px !important;

  // padding: 20px;
}
