/*---------VARS START-------------*/
$containerPadding: 15px;
$calcuatedWidth: calc(100% - (#{$containerPadding} * 2));
$emptyStateIconSize: 140px;
$subjectCardPadding: 20px;
$subjectCardBorderWeight: 2px;
/*---------VARS END---------------*/

.subjects-container {
  width: $calcuatedWidth;
  padding: $containerPadding;
  display: flex;
  flex-wrap: wrap;
  gap: $containerPadding;

  &.column-layout {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-subs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image-holder {
      width: $emptyStateIconSize;
      height: $emptyStateIconSize;
      margin-top: 10px;
      // cannot find correct image for this, so I filtered the display of current img
      filter: grayscale(1);
      opacity: 0.3;

      img {
        width: 100%;
        height: auto;
      }
    }

    .grey-text {
      font-size: 14px;
      color: #cacaca;
    }
  }

  .subject-card {
    cursor: pointer;
    width: 320px;
    height: calc(158px - (#{$subjectCardPadding} * 2));
    padding: $subjectCardPadding;
    margin: $containerPadding;
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    &.aqua {
      background-color: #e4f8fa;

      .top-shape {
        span::before {
          color: #bdecf0;
        }
      }

      .icon-shape {
        span::before {
          color: #3ebec6;
        }
      }
    }

    &.purple {
      background-color: #ebe8f0;

      .top-shape {
        span::before {
          color: #c9c0d6;
        }
      }

      .icon-shape {
        span::before {
          color: #421e6c;
        }

        &-overlay {
          span::before {
            color: #f89c3f;
          }
        }
      }
    }

    &.green {
      background-color: #e8f0e8;

      .top-shape {
        span::before {
          color: #c0d6c6;
        }
      }

      .icon-shape {
        span::before {
          color: #216c1e;
        }

        &-overlay {
          span::before {
            color: #3ebec6;
          }
        }
      }
    }

    &.pink {
      background-color: #f0e8f0;

      .top-shape {
        span::before {
          color: #d6c0d5;
        }
      }

      .icon-shape {
        span::before {
          color: #e31565;
        }

        &-overlay {
          span::before {
            color: #216c1e;
          }
        }
      }
    }

    &.orange {
      background-color: #f0ede8;

      .top-shape {
        span::before {
          color: #d6c9c0;
        }
      }

      .icon-shape {
        span::before {
          color: #f89c3f;
        }

        &-overlay {
          span::before {
            color: #3ebec6;
          }
        }
      }
    }

    &-container {
      width: 100%;
    }

    h4,
    p {
      margin-bottom: 0;
      color: #404041;
    }

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }

    &.blank {
      width: calc((350px - (#{$subjectCardBorderWeight} * 2)) - (#{$containerPadding} * 2));
      height: calc((158px - (#{$subjectCardBorderWeight} * 2)) - (#{$subjectCardPadding} * 2));
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: $subjectCardBorderWeight dashed #e4e4e4;
      background-color: #f0f0f0;

      h4 {
        color: #7d7d7d;
        margin-bottom: 5px;
      }

      p {
        color: #929292;
      }
    }

    .shapes-container {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;

      .card-icon {
        width: 70px;
        height: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 95px;
        margin-top: 20px;
        // remove this:
        filter: brightness(6);
      }

      .top-shape {
        position: absolute;
        left: 10%;
        top: -30px;
        width: 60px;
        height: 60px;
        z-index: 1;
        transform: rotate(55deg);

        span {
          font-size: 60px;
        }
      }

      .icon-shape {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 75%;

        span {
          font-size: 185px;
          position: absolute;
          top: -30px;
          right: -40px;
          z-index: -1;
        }

        &-overlay {
          position: absolute;
          z-index: 2;
          right: 17%;
          top: 5px;
          width: 40px;
          height: 40px;

          span {
            font-size: 40px;
            transform: rotate(45deg);
          }
        }
      }
    }

    .content-container {
      position: relative;
      z-index: 1;
    }
  }
}
