<app-main-layout customContent="false">
  <div class="header-section subjects_header">
    <h2>My subjects</h2>
    <p>{{packageTypeName}} Plan</p>
  </div>
</app-main-layout>

<div class="loader-container" style="height: 75%;" fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoading">
  <mat-spinner fxLayout="column" fxLayoutAlign="space-evenly center" color="accent" diameter="24"
    style="margin: 0 auto;"></mat-spinner>
</div>

<ng-container *ngIf="showContent">
  <div class="subjects-container" [ngClass]="displayEmptyState ? 'column-layout' : null">
    <!-- display the below block only if there is no subscriptions: -->
    <ng-container *ngIf="displayEmptyState">
      <div class="no-subs">
        <div class="image-holder">
          <img src="./../../../../assets/images/Step-1.png" />
        </div>
        <p class="grey-text">You have no subjects yet</p>
      </div>
    </ng-container>

    <ng-container *ngFor="let card of cards">
      <ng-container *ngIf="card.show && showContent">
        <ng-container *ngIf="card.backgroundImage !== 'blank'; else blankCard">
          <div class="mat-card subject-card" [ngClass]="card.color" [routerLink]="['/subjects', card.id]">
            <div class="shapes-container">
              <div class="top-shape">
                <span class="icon-pv-arrow-shape"></span>
              </div>
              <div class="icon-shape-overlay">
                <span class="icon-pv-arrow-shape"></span>
              </div>
              <div class="icon-shape">
                <div class="card-icon" [ngStyle]="{ 'background-image': 'url(' + card.icon + ')' }"></div>
                <span [class]="card.icon"></span>
                <span class="icon-pv-arrow-shape"></span>
              </div>
            </div>
            <div class="content-container">
              <h4>{{ card.title }}</h4>
              <p>{{ card.subtitle }}</p>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-template #blankCard>
        <div class="subject-card blank">
          <mat-icon color="gray">{{ card.icon }}</mat-icon>
          <h4>{{ card.title }}</h4>
          <p>{{ card.subtitle }}</p>
        </div>
      </ng-template>
    </ng-container>
  </div>
</ng-container>