<div class="faq_container">
  <app-main-layout>
    <div class="header-section faq_header">
      <h2>FAQ</h2>
    </div>
    <div class="main-content faq_content">
      <mat-accordion>
        <mat-expansion-panel (opened)="(true)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Which subjects and grades do you support?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            We cover grades 8-12, Mathematics, Science (Physical, Life & Natural) and Accounting.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Which languages are the resources offered in?
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            Most of our resources are offered in English. Our grade 10-12, Mathematics and Physical Sciences resources are also offered in Afrikaans.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Are the Paper Video resources suitable for IEB students?
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>All our resources follow the CAPS syllabus and all the questions in our books of past exam papers are CAPS aligned. IEB follows the same curriculum as what we offer, which is CAPS, although the exam questions are phrased slightly different.</p>
          <p>In other words, while there are some differences in how questions are phrased, the Paper Video exams and worksheets cover the same content that is covered in the IEB exams.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How do I get started?
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Start by clicking on the sign-up button on the home page. You can choose to sign-up using your email address or cell phone number. You will be sent an email or SMS to verify your account.</p>
          <p>Then you will choose the package option that you want: FREE, STANDARD, PREMIUM or OFFLINE.</p>
          <p>From here you will either proceed directly to your account dashboard or to the checkout screen to complete your payment. If you would like any assistance with this process, please get in touch with us via the contact page.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              What is the difference between our online and offline resources?
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Our online resources consist of past exam papers and lesson worksheets, both with video support, and are accessed via our apps or website. Our online resources cover all the grades and subjects that we offer.</p>
          <p>More resources for each grade and subject are available via our online option. Our offline resources consist of a book of 10 past exam papers and a microSD card that contains the videos for those papers.</p>
          <p>The microSD card works with the same app that is used for online access, only that the videos do not need to be streamed online. These offline packs are only available for grades 10-12 English and Afrikaans Mathematics and can be purchased at a once off price.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How does monthly billing for a paid subscription work?
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>To get full access to our online resources, you need to sign up for a monthly subscription. This is billed from the day you first subscribe, and you will be rebilled on the same day of each following month thereafter.</p>
          <p>You can cancel at any time before the next billing day and will continue to have access to your subscription until the next billing day, after which you will not be billed again and your subscription will end.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How do I try Paper Video without paying?
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>We offer a limited number of free resources for every grade and subject. All you need to do is sign up for our free account option. If you decide that you would like more resources, you can upgrade your account at a later stage.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              What is a Paper Video partner school?
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Your school can become a Paper Video partner school. This means that they can add you to Paper Video, giving you full access to all our resources. Your school may offer this to you for free, or at a discounted rate compared to what you would pay by yourself.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How do I get added to my school’s dashboard?
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>All you need to do is sign up a free account, check the box at sign up that states :Allow my data to be shared on the school dashboard” and then ask your teacher to accept you on their dashboard.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              I am a teacher. How does my school become a Paper Video partner school?
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Becoming a Paper Video partner school is the best way to give all your learners free or discounted access to all the Paper Video resources. Please get in contact with us via our contact page to find out more about how your school can benefit from becoming a Paper Video partner school.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </app-main-layout>
</div>
