<div class="faq_container">
  <app-main-layout>
    <div class="header-section faq_header">
      <h2>FAQ</h2>
    </div>
    <div class="main-content faq_content">
      <mat-accordion>
        <mat-expansion-panel (opened)="(true)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              What is iCONNECT?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Quantum Leap In Communication Through Hybrid VLC For Sustainable Living Environment
          </p>
          <a src="https://www.terra-phoenix.com/iconnect/">More</a>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </app-main-layout>
</div>
