// https://github.com/angular/components/issues/11888#issuecomment-536509515

// OP colors are hex that have opacity applied

$custom-colors: (
  op-san-felix1: #421e6c1f,
  op-camarone1: #421e6c3d,
  op-crusoe1: #e315651f,
  op-tia-maria1: #f59b3f26,
  op-san-felix2: #421e6c29,
  op-medium-carmin1: #fab94326,
  op-zest1: #57bc723d,
  op-rio-grande1: #20bec61f,
  op-black1: #00000000,
  op-black-russian: #00000029,
  white1: #ffffff,
  white-smoke1: #f4f4f4,
  christalle1: #421e6c,
  cinnabar1: #f04e30,
  paynes-grey1: #404041,
  emrald1: #57bc72,
  iris-blue1: #20bec6,
  yellow-sea1: #f89d3e,
  ruby1: #e31565,
  alice-blue: #f3f8fe,
  commit1: #5d6479,
  governo-bay1: #4844a3,
  free-speech-blue1: #504bcc,
  dim-grey1: #6e6e6e,
  sun1: #f9882b,
  razzmatazz1: #d60052,
  light-sea-green1: #1eb2bb,
  yellow-sea2: #f59b3f,
  chambray1: #485c72,
  gainsboro1: #e3e3e3,
  paradiso1: #3d7d88,
  silver1: #bcbcbc,
  bubbles1: #eef8f1,
  seashell1: #fff5eb,
  snow: #fcfcfc,
  light-cyan: #E2F7F8,
  bright-gray: #efefef,
  disabled-font:#B5B5B5,
  contrast: (
    op-san-felix1: #421e6c1f,
    op-camarone1: #421e6c3d,
    op-crusoe1: #e315651f,
    op-tia-maria1: #f59b3f26,
    op-san-felix2: #421e6c29,
    op-medium-carmin1: #fab94326,
    op-zest1: #57bc723d,
    op-rio-grande1: #20bec61f,
    op-black1: #00000000,
    op-black-russian: #00000029,
    white1: #ffffff,
    white-smoke1: #f4f4f4,
    christalle1: #421e6c,
    cinnabar1: #f04e30,
    paynes-grey1: #404041,
    emrald1: #57bc72,
    iris-blue1: #20bec6,
    yellow-sea1: #f89d3e,
    ruby1: #e31565,
    alice-blue: #f3f8fe,
    commit1: #5d6479,
    governo-bay1: #4844a3,
    free-speech-blue1: #504bcc,
    dim-grey1: #6e6e6e,
    sun1: #f9882b,
    razzmatazz1: #d60052,
    light-sea-green1: #1eb2bb,
    yellow-sea2: #f59b3f,
    chambray1: #485c72,
    gainsboro1: #e3e3e3,
    paradiso1: #3d7d88,
    silver1: #bcbcbc,
    bubbles1: #eef8f1,
    seashell1: #fff5eb,
    snow: #fcfcfc,
    light-cyan: #E2F7F8,
    disabled-font:#B5B5B5,
  )
);

// $auth-colors: (
//   // Page 1 start
//     // OP colors are hex that have opacity applied
//     op-san-felix1: #421e6c1f
// );

// http://mcg.mbitson.com/
$md-primary: (
  50: #fce3ed,
  100: #f7b9d1,
  200: #f18ab2,
  300: #eb5b93,
  400: #e7387c,
  500: #e31565,
  600: #e0125d,
  700: #dc0f53,
  800: #d80c49,
  900: #d00637,
  A100: #fff9fa,
  A200: #ffc6d1,
  A400: #ff93a8,
  A700: #ff7a93,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-secondary: (
  50: #e4f7f8,
  100: #bcecee,
  200: #90dfe3,
  300: #63d2d7,
  400: #41c8cf,
  500: #20bec6,
  600: #1cb8c0,
  700: #18afb9,
  800: #13a7b1,
  900: #0b99a4,
  A100: #d2fbff,
  A200: #9ff7ff,
  A400: #6cf3ff,
  A700: #52f1ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$md-neutral: (
  50: #fefefe,
  100: #fcfcfc,
  200: #fafafa,
  300: #f8f7f7,
  400: #f7f6f6,
  500: #f5f4f4,
  600: #f4f3f3,
  700: #f2f1f1,
  800: #f0efef,
  900: #eeecec,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
