<div mat-dialog-title fxLayout="row">
  <h2></h2>
  <div style="margin-left: auto; margin-top: -5px; cursor: pointer;">
    <mat-icon class="cursor" (click)="onNoClick()">close</mat-icon>
  </div>
</div>

<div mat-dialog-content>
  <div fxLayout="column" class="video-card">
    <app-video-viewer *ngIf="data.videoPath" fxFlex="60" class="video" [videoUrl]="jingleUrl" [autoplay]="true"
      (videoEnd)="videoEnd($event)" (setVideoWatched)="setVideoWatched()"></app-video-viewer>
      <h1 class="center-error" *ngIf="!data.videoPath">No Video available</h1>
  </div>
</div>