<div class="about_container">
  <app-main-layout>
    <div class="header-section about_header">
      <h2>About Papervideo</h2>
    </div>
    <div class="main-content about_content">
      <mat-accordion>
        <mat-expansion-panel (opened)="(true)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              About us
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Papervideo’s mission is to provide all students across South Africa with their own, personal extra teacher.
            We do this by embedding QR codes into our Exam Paper Books and Subjects Maps. The QR codes link to video
            lessons that specifically cover the question or topic that you are struggling with. Using this app, you can
            scan these QR codes and get instant access to these videos. With over 10 000 videos across grades 8 to 12,
            for Mathematics, Physical Sciences, Life Sciences, Natural Sciences & Accounting, you’ll have access to the
            largest collection of video resources in South Africa, taught some of South Africa’s best teachers.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Terms of use
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="row"
         class='terms-row'>
      <h2 fxFlexAlign="start">
        1. Terms
      </h2>
    </div>
    <div fxLayout="row">
      By accessing this app, you are agreeing to be bound by these app Terms and Conditions of Use, all
      applicable
      laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do
      not
      agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in
      this app are protected by applicable copyright and trade mark law.
    </div>

    <div fxLayout="row" style="margin-top: 15px;"
         class='terms-row'>
      <h2 fxFlexAlign="start">
        2. Use License
      </h2>
    </div>
    <div fxLayout="row">
      <ul>
        <li>
          a. Permission is granted to temporarily download one copy of the materials (information or software) on Paper
          Video's
          app for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer
          of
          title,
          and under this license you may not:
          <ul>
            <li>i. modify or copy the materials;</li>
            <li>ii. use the materials for any commercial purpose, or for any public display (commercial or
              non-commercial);</li>
            <li>iii. attempt to decompile or reverse engineer any software contained on Paper Video's app;</li>
            <li>iv. remove any copyright or other proprietary notations from the materials; or</li>
            <li>v. transfer the materials to another person or "mirror" the materials on any other server.</li>
          </ul>
        </li>
        <li>b. This license shall automatically terminate if you violate any of these restrictions and may be terminated
          by
          Paper
          Video at any time. Upon terminating your viewing of these materials or upon the termination of this license,
          you
          must
          destroy any downloaded materials in your possession whether in electronic or printed format.</li>
      </ul>
    </div>


    <div fxLayout="row"
         class='terms-row'>
      <h2 fxFlexAlign="start">
        3. Disclaimer
      </h2>
    </div>
    <div fxLayout="row">
      <ul>
        <li>a. The materials on Paper Video's app are provided "as is". Paper Video makes no warranties, expressed
          or
          implied,
          and hereby disclaims and negates all other warranties, including without limitation, implied warranties or
          conditions of
          merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other
          violation
          of
          rights. Further, Paper Video does not warrant or make any representations concerning the accuracy, likely
          results,
          or
          reliability of the use of the materials on its Internet app or otherwise relating to such materials or on
          any
          sites
          linked to this site.</li>
      </ul>
    </div>

    <div fxLayout="row"
         class='terms-row'>
      <h2 fxFlexAlign="start">
        4. Limitations
      </h2>
    </div>
    <div fxLayout="row">
      <ul>
        <li>In no event shall Paper Video or its suppliers be liable for any damages (including, without limitation,
          damages
          for
          loss of data or profit, or due to business interruption,) arising out of the use or inability to use the
          materials
          on
          Paper Video's Internet site, even if Paper Video or a Paper Video authorized representative has been notified
          orally or
          in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied
          warranties,
          or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
        </li>
      </ul>
    </div>

    <div fxLayout="row"
         class='terms-row'>
      <h2 fxFlexAlign="start">
        5. Revisions and Errata
      </h2>
    </div>
    <div fxLayout="row">
      <ul>
        <li>
          The materials appearing on Paper Video's app could include technical, typographical, or photographic
          errors.
          Paper
          Video does not warrant that any of the materials on its app are accurate, complete, or current. Paper
          Video
          may
          make changes to the materials contained on its app at any time without notice. Paper Video does not,
          however,
          make
          any commitment to update the materials.
        </li>
      </ul>
    </div>

    <div fxLayout="row"
         class='terms-row'>
      <h2 fxFlexAlign="start">
        6. Links
      </h2>
    </div>
    <div fxLayout="row">
      <ul>
        <li>Paper Video has not reviewed all of the sites linked to its Internet app and is not responsible for the
          contents of
          any such linked site. The inclusion of any link does not imply endorsement by Paper Video of the site. Use of
          any
          such
          linked app is at the user's own risk.</li>
      </ul>
    </div>

    <div fxLayout="row"
         class='terms-row'>
      <h2 fxFlexAlign="start">
        7. Site Terms of Use Modifications
      </h2>
    </div>
    <div fxLayout="row">
      <ul>
        <li>Paper Video may revise these terms of use for its app at any time without notice. By using this app you
          are
          agreeing to be bound by the then current version of these Terms and Conditions of Use.</li>
      </ul>
    </div>

    <div fxLayout="row"
         class='terms-row'>
      <h2 fxFlexAlign="start">
        8. Governing Law
      </h2>
    </div>
    <div fxLayout="row">
      <ul>
        <li>
          Any claim relating to Paper Video's app shall be governed by the laws of the State of South Africa
          without
          regard
          to its conflict of law provisions.
        </li>
      </ul>



    </div>
    <div fxLayout="row"
         class='terms-row'>
      General Terms and Conditions applicable to Use of an App.
    </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Privacy policy
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li>Before or at the time of collecting personal information, we will identify the purposes for which
              information is being
              collected.</li>
            <li> We will collect and use of personal information solely with the objective of fulfilling those purposes
              specified by us
              and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by
              law.</li>
            <li>We will only retain personal information as long as necessary for the fulfillment of those purposes.</li>
            <li> We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or
              consent of
              the individual concerned.</li>
            <li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary
              for
              those
              purposes, should be accurate, complete, and up-to-date.</li>
            <li>We will protect personal information by reasonable security safeguards against loss or theft, as well as
              unauthorized
              access, disclosure, copying, use or modification.</li>
            <li>We will make readily available to customers information about our policies and practices relating to the
              management of
              personal information.</li>
            <li>
              We are committed to conducting our business in accordance with these principles in order to ensure that the
              confidentiality of personal information is protected and maintained.
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </app-main-layout>
</div>
