
.parent-expansion-panel {
  box-shadow: none !important;
  background-color: #F5F4F4;
}

.question-image {
  max-width: 80%;
  margin: 12px 0px;
}

.question-heading {
  text-align: left;
  font: Regular-Bold 24px/24px ProximaNova-Semibold;
  letter-spacing: 0;
  color: #404041;
  margin-bottom: 0;
  margin-top: 12px;
}
