<mat-accordion *ngIf="condition && (parentQuestion && parentQuestion.questionDescription)" style="margin-right: 12px;">
  <mat-expansion-panel class="parent-expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Parent Question
      </mat-panel-title>
    </mat-expansion-panel-header>

    <h2 class="question-heading">Question {{ parentQuestion.questionNumber }}</h2>

    <mathjax [content]="parentQuestion.questionDescription ? parentQuestion.questionDescription : 'No question description'"></mathjax>
    <div *ngIf="hasImage(parentQuestion)">
      <img class="question-image" [src]="parentQuestion.questionImage" alt="parent question image"/>
    </div>
  </mat-expansion-panel>
</mat-accordion>
