<div class="loader-container" style="height: 75%;" fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoading">
  <mat-spinner fxLayout="column" fxLayoutAlign="space-evenly center" color="accent" diameter="24"
    style="margin: 0 auto;"></mat-spinner>
</div>

<ng-container *ngIf="showContent">
  <button mat-button style="margin-top: 10px;" (click)="back('papers/' + paperId + '/questions', router)">
    <mat-icon>chevron_left</mat-icon> Back
  </button>

  <div class="view-wrapper" fxLayout="column" fxLayoutAlign="start">

      <app-video-view fxFlex [$question]="$question" [$parentQuestion]="$parentQuestion" [$videoUrl]="$videoUrl"
        [$jingleUrl]="$jingleUrl" [$memoUrl]="$memoUrl" [videoNumber]="videoNum" (videoEnded)="nextVideo($event)"
        (nextQuestion)="nextQuestion()" (previousQuestion)="previousQuestion()" [prevDisabled]='!hasPrevQuestion'
        [nextDisabled]='!hasNextQuestion'>
      </app-video-view>

  </div>
</ng-container>