<div fxLayout="column" class="video-card">
  <mat-icon class="close" (click)="close()">close</mat-icon>
  <app-video-viewer *ngIf="jingleUrl || videoUrl"
                    fxFlex="60"
                    class="video"
                    [videoUrl]="jingleUrl.url || videoUrl.url"
                    [autoplay]="autoplay"
                    (videoEnd)="videoEnd($event)"
  ></app-video-viewer>
  <div fxLayout="row" fxLayoutAlign="none center" class="nav-button-container">
    <button
      mat-button
      class="question-nav-button-prev"
      (click)="previousQuestion.emit()"
      [disabled]="prevDisabled"
    >
      < Previous Question
    </button>
    <div class="divider"></div>
    <button
      mat-button
      class="question-nav-button-next"
      (click)="nextQuestion.emit()"
      [disabled]="nextDisabled"
    >
      Next Question >
    </button>
  </div>
  <div fxLayout="row" class="content" fxFlex="40">
    <mat-spinner color="accent" diameter="24" style="margin: 0 auto;" *ngIf="!showContent"></mat-spinner>
    <div *ngIf="showContent" fxLayout="column" fxFlex="70">
      <div fxLayout="row">
        <p class="question-title" fxFlex>{{ question.paper.month | titlecase }} {{ question.paper.year }}
          Paper {{ question.paper.paperNo }}</p>
        <app-media-tracking-button (click)="showMemo()" class="memo-link" [disabled]="!hasMemo"
        >Show Memo
        </app-media-tracking-button
        >
      </div>

      <mat-accordion *ngIf="parentQuestion && parentQuestion.questionDescription" style="margin-right: 12px;">
        <mat-expansion-panel class="parent-expansion-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Parent Question
            </mat-panel-title>
          </mat-expansion-panel-header>

           <h2 class="question-heading">Question {{ parentQuestion.questionNumber }}</h2>

           <mathjax [content]="question.questionDescription ? question.questionDescription : 'No question description'"></mathjax>
          <div *ngIf="hasImage(parentQuestion)">
            <img class="question-image" [src]="parentQuestion.questionImage"/>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <h2 class="question-heading">Question {{ question.questionNumber }}</h2>
      <p class="video-overview">Video {{ videoNumber }} of {{ question.videoCount }}</p>

      <mathjax [content]="question.questionDescription ? question.questionDescription : 'No question description'"></mathjax>
      <div *ngIf="hasImage(question)">
        <img class="question-image" [src]="question.questionImage"/>
      </div>
    </div>
    <div>
      <div class="completed">
        <mat-checkbox
          [disabled]="!hasPlayedJingle"
          [checked]="question.isCompleted"
          (change)="setStatus($event.checked)"
        >
          Completed
        </mat-checkbox>
      </div>
      <div style="margin-top: 20px;">
      <app-pre-requisites [preRequisites]="question.preRequisites"></app-pre-requisites>
    </div>
    </div>
  </div>
</div>
