<div fxFlex fxLayout="column">
    <mat-card #chips *ngIf="selectedKeywords && selectedKeywords.length > 0" class="keyword-card no-shadow header-control-border" fxFlex fxLayout="row"
        fxLayoutAlign="start start">
        <mat-chip-list aria-label="keyword selection " style="width: 717px;">
            <mat-chip *ngFor="let item of selectedKeywords" color="accent" [removable]="true" (removed)="remove(item)">
                {{item.name}}
                <mat-icon matChipRemove style="margin-right: 0px;">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
        <mat-icon matSufix class="clear" (click)="clearKeywords()">
            close</mat-icon>
    </mat-card>

    <div fxFlex fxLayout="row" fxLayoutGap="30px">
        <mat-card class="search-card no-shadow header-control-border" fxFlex fxLayout="row" fxLayoutAlign="start start">
            <mat-icon matPrefix style="padding-top: 2px;">search</mat-icon>
            <input class="primary-font full-border" style="width: 68%" [formControl]="searchControl"
                [placeholder]="placeholder" />
            
            <mat-checkbox class="filter-checkbox included-checkbox" [(ngModel)]="containAll">
                Must contain all keywords
            </mat-checkbox>
            <mat-checkbox class="filter-checkbox included-checkbox" [(ngModel)]="includeCompleted">
                Include questions marked as complete
            </mat-checkbox>
            <mat-icon matSufix class="clear"
            *ngIf="searchControl.value !== null && searchControl.value !== ''"
                (click)="clearSearch()">
                close</mat-icon>
        </mat-card>

        <button *ngIf="!applying" mat-flat-button type="button" color="primary" class="applying-button"
            (click)="applySearchFilters()">
            Apply
        </button>

        <button *ngIf="applying" mat-flat-button type="button" color="primary" class="applying-button">
            <mat-spinner color="accent" diameter="24" style="margin: 0 auto;"></mat-spinner>
        </button>
    </div>

    <mat-card *ngIf="open" class="advanced-search-card" [style.margin-top]="resultsMarginTop" fxFlex fxLayout="column"
        fxLayoutGap="6px">
        <div class="result-height" fxLayout="column" fxLayout="center center" *ngIf="isLoading">
            <mat-spinner color="primary" diameter="45" style="margin: auto auto;"></mat-spinner>
        </div>


        <div class="result-height" fxLayout="column" fxLayout="center center" *ngIf="noData">
            <div style="margin: auto auto;"> Your search returned nothing. </div>
        </div>

        <div *ngIf="!isLoading && !noData" fxFlex fxLayout="row">
            <div fxFlex="70%" fxLayout="column">
                <div fxLayout="column" class="result-height search-result-container">
                    <div *ngFor="let item of keywords | async" class="search-result-row"
                        (click)="$event.preventDefault(); itemSelected(item, !isSelected(item))">
                        <mat-checkbox [checked]="isSelected(item)" (change)="itemSelected(item, $event.checked)">
                            {{item.name}}
                            <span style="color: #868686; font-size: 14px;">( {{item.count}}
                                {{item.count === 1 ? 'Question' : 'Questions'}} )</span>
                        </mat-checkbox>

                    </div>
                </div>
            </div>
            <div fxFlex="30%" fxLayout="column">
                <div *ngFor="let diff of difficulties | async" class="search-result-row"
                    (click)="$event.preventDefault(); diffSelected(diff, !diffIsSelected(diff))">
                    <mat-checkbox [checked]="diffIsSelected(diff)" (change)="diffSelected(diff, $event.checked)">
                        Difficulty: {{diff}}
                    </mat-checkbox>
                </div>
            </div>
        </div>

        <!-- <div *ngIf="!isLoading && !noData" fxLayout="column" class="result-height search-result-container">
            <div *ngFor="let item of items | async" class="search-result-row"
                (click)="$event.preventDefault(); itemSelected(item, !isSelected(item))">
                <mat-checkbox [checked]="isSelected(item)" (change)="itemSelected(item, $event.checked)">
                    {{item.name}}
                    <span style="color: #868686; font-size: 14px;">( {{item.count}}
                        {{item.count === 1 ? 'Question' : 'Questions'}} )</span>
                </mat-checkbox>

            </div>
        </div> -->
    </mat-card>
</div>