<app-video-layout theme="lesson">
    <!-- video src: -->
    <source src="https://youtu.be/mBIby1i2oTs" />

    <!-- main content for video section: -->
    <div class="video-main-content">
      <div class="side-by-side-content">
        <mat-checkbox>Mark lesson as complete</mat-checkbox>
        <button mat-stroked-button>Download PDF</button>
      </div>
      <h2>Applications of quadrilaterals</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore.
      </p>
    </div>

    <!-- content for sidebar section: -->
    <div class="video-sidebar-content">
      <h2>Bookmarks</h2>
      <p>Basic problem <span>00:01:04</span></p>
      <p>Domain and range <span>00:01:04</span></p>
      <p>Average gradient <span>00:01:04</span></p>
      <a href="" class="lesson-link">Find related exam questions</a>

      <h2>Pre-requisite lessons</h2>
      <a href="" class="lesson-link">Equations</a>
      <a href="" class="lesson-link">Simplification</a>
    </div>
  </app-video-layout>