<div fxFlexFill fxLayout="column" [fxLayoutGap]="isExamMode ? '0px':'10px'">
  <ng-container *ngIf="paperListItems != null">
    <ng-container *ngFor="let paperItem of paperListItems">
      <div  class="question-paper" ngClass.lt-md="mobile" *ngIf="reachedViaSearch">
        {{ paperItem.paper.month | titlecase }} {{ paperItem.paper.year }} Paper {{ paperItem.paper.paperNo }}
      </div>
      <ng-container
        [ngTemplateOutlet]='questionBlock'
        [ngTemplateOutletContext]="{questions:paperItem.questions}">
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="questionItems != null">
    <ng-container
      [ngTemplateOutlet]='questionBlock'
      [ngTemplateOutletContext]="{questions:questionItems}">
    </ng-container>
  </ng-container>
</div>

<ng-template #questionBlock let-questions='questions'>
  <ng-container *ngFor="let question of questions">
    <ng-container>
      <mat-card fxLayout="column" class="parent-question" ngClass.lt-md="mobile" *ngIf="question.isParent">
        <mat-card-header>
          <mat-card-title>Question {{ question.questionNumber }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div  fxLayout="column" class="parent-question-description">
              <ng-container *ngIf="question.containsFormula">
                  <div class="question-description-formatting">
                    <mathjax [content]="question.questionDescription"></mathjax>
                </div>
              </ng-container>
              <ng-container *ngIf="!question.containsFormula">
                <div class="question-description-formatting">
                  {{ question.questionDescription }}
                </div>
              </ng-container>
              <div *ngIf="hasImage(question)" fxFlex="20" class="image-container">
                <img alt="" class="img" [src]="question.questionImage"/>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

      <mat-card
        *ngIf="!question.isParent"
        fxLayout="column"
        [class]="question.isPreReq ? 'sub-question--pre-req' : 'sub-question'"
          [class.exam-mode]="isExamMode"
          ngClass.lt-sm="mobile"
          ngClass.lt-md="tablet"
        >
          <div fxLayout="row" fxLayoutAlign="center center" [class]="isExamMode ? '': 'mb-2'" >
            <div fxFlex="80" class="question-header">Question {{ question.questionNumber }}</div>
            <div class="completed">
              <mat-checkbox
                (change)="onMarkAsComplete($event.checked, question.id)"
                [checked]="isCompleted(question.id)"
              >
                Completed
              </mat-checkbox>
            </div>
          </div>
          <mat-card-content>
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between" fxLayoutAlign.lt-sm="start center">
              <div fxLayout="column" class="sub-question-description" ngClass.lt-sm="mobile">
                <ng-container *ngIf="question.containsFormula">
                  <div class="question-description-formatting">
                    <mathjax
                      [content]="question.questionDescription ? question.questionDescription : 'No question description'"></mathjax>
                  </div>
                </ng-container>
                <ng-container *ngIf="!question.containsFormula">
                  <div class="question-description-formatting">
                    {{ question.questionDescription ? question.questionDescription : 'No question description' }}
                  </div>
                </ng-container>
                <div *ngIf="hasImage(question)">
                  <img alt="" class="question-image" [src]="question.questionImage"/>
                </div>
              </div>

            <div fxLayout="column" fxLayoutAlign="none center" class="mt-2">
              <button
                *ngIf="!isExamMode"
                mat-mini-fab
                class="play-button"
                [color]="'primary'"
                [disabled]="!question.video1Id && !question.video2Id && !question.video3Id"
                [routerLink]="[
                    '/videos/view/' +
                      question.paperId +
                      '/' +
                      question.questionCode +
                      '/' +
                      (reachedViaSearch ? '1' : '0')
                  ]"
              >
                <mat-icon>play_arrow</mat-icon>
              </button>

                <app-media-tracking-button
                  *ngIf="!isExamMode"
                  (action)="showMemo(question)"
                  class="memo-link mt-2"
                  [disabled]="!hasMemo(question)"
                >Show Memo
                </app-media-tracking-button>


            </div>
          </div>
          <div class="mark" ngClass.lt-sm="mobile">
            {{ question.mark ? '( ' + question.mark + ' )' : 'Not Set' }}
          </div>
        </mat-card-content>
      </mat-card>

      <app-question-list-items class="full-width-container"
                               fxLayoutAlign="start start"
                               fxLayoutGap="{{ isExamMode ? '0px' : '30px' }}"
                               [questionItems]="question.children"
                               [isCompleted]="isCompleted"
                               [isExamMode]="isExamMode"
                               [reachedViaSearch]="reachedViaSearch"
                               (markAsComplete)="markAsComplete.emit($event)"
      >
      </app-question-list-items>
    </ng-container>
  </ng-container>
</ng-template>
